{
    "extends": "eslint:recommended",
    "plugins": [
        "html"
    ],
	"parser": "babel-eslint",
	"globals": {
		"document": true,
		"require": true,
		"process": true,
		"__dirname": true,
		"module": true
	}
}
